@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
  background-image: url(characters/dragon-ball-landscape-scene-background-free-vector.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;

  /* Punto 16: vh y vw para la galería */
  width: 90vw;
  height: 80vh;
  overflow-y: auto;
}

.card{
  width: 320px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}

/* Punto 13: rem en párrafos */
#punto_c13 {
  font-size: 1.2rem;
}

/* Punto 14: em para márgenes y paddings */
#punto_c14 {
  background-color: #6E8CFB;
  padding: 2em;
  margin: 2em;
}

/* Punto 15: comparación px, em, rem */
#punto_c15 {
  font-size: 1rem; /* base rem */
}
#punto_c15 .px {
  font-size: 20px;
}
#punto_c15 .em {
  font-size: 2em;
}
#punto_c15 .rem {
  font-size: 2rem;
}

/* Punto 17: max-width y height auto para imagen */
#punto_c17 img {
  max-width: 100%;
  height: auto;
}

/* Punto 18: object-fit */
#punto_c18 img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

/* Otros estilos ya existentes */
#punto_c2e{
  background-color: #8aa624;
}

#punto_c8 {
  background: linear-gradient(#000000, #fff64d, #598bff);
}

#punto_c9 {
  background: radial-gradient(#ff0000, #9ff4ff, #000000);
}

#punto_c10 {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 5px 5px 0 gray;
}

#punto_c12 {
  font-family: cursive;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold; 
}

/* Imagen general */
.card img{
  display: block;
  max-height: 280px;
  margin: 16px auto;
  filter: drop-shadow(2px 0px 8px #515151);
}
.card h2{
  margin-top: 2px;
  margin-bottom: 8px;
  color: #373737;
  text-align: center;
}
.card p{
  font-size: 16px;
  color: #515151;
  text-align: center;
}
