@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: "Montserrat", sans-serif;
  background-image: url(characters/dragon-ball-landscape-scene-background-free-vector.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.contenedor{
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 40px;
}
.card{
  width: 320px;
  background-color: #f2f2f2;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
#punto_c1{
  width: 320px;
  background-color: #6E8CFB;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
#punto_c2a{
  width: 320px;
  background-color: #7adaa5;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
#punto_c2b{
  width: 320px;
  background-color: #239ba7;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
#punto_c2c{
  width: 320px;
  background-color: #ececbb;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
#punto_c2d{
  width: 320px;
  background-color: #e1aa36;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}
#punto_c2e{
  width: 320px;
  background-color: #8aa624;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: solid 0.5px #cbc3c3;
  display: inline-block;
}

#punto_c8 {
  background: linear-gradient(#000000, #fff64d, #598bff);
}

#punto_c9 {
  background: radial-gradient(#ff0000, #9ff4ff, #000000);
}

#punto_c10 {
  text-transform: uppercase;
  letter-spacing: 10px;
  text-shadow: 5px 5px 0 gray;
}

#punto_c12 {
  font-family: cursive;
  font-size: 40px;
  font-style: oblique;
  font-weight: bold; 
}

.card img{
  display: block;
  max-height: 280px;
  margin: 16px auto;
  filter: drop-shadow(2px 0px 8px #515151);
}
.card h2{
  margin-top: 2px;
  margin-bottom: 8px;
  color: #373737;
  text-align: center;
}
.card p{
  font-size: 16px;
  color: #515151;
  text-align: center;
}